CodeWars/obj/
packages/
TestCodeWars/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
TestCodeWars/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
TestCodeWars/obj/
.vs/
